.mq-editable-field .mq-textarea,
.mq-math-mode .mq-textarea {
  position: relative;
  user-select: text;
}
.mq-editable-field .mq-textarea *,
.mq-math-mode .mq-textarea *,
.mq-editable-field .mq-selectable,
.mq-math-mode .mq-selectable {
  user-select: text;
  position: absolute;
  clip: rect(1em 1em 1em 1em);
  transform: scale(0);
  resize: none;
  width: 1px;
  height: 1px;
  box-sizing: content-box;
}
